
<div style="margin-top:-125px;">
    <div class="row justify-content-center text-center">
        <div class="col col-3 bg-white" style="border-radius: 15px  15px; box-shadow:0 5px 5px 0 gray">
            <i class="bi-hdd-fill" style=" font-size:20px"></i>
            <h3>Backend</h3>
            <p>
                Trabajo desde la creacion de la base de datos hasta construir el api con los requrimientos de seguridad
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET Core, MySql
            </p>

            <ul>
                <li>Web Apis</li>
                <li>Asp.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>Razor</li>
            </ul>
        </div>


    </div>
</div>
