

<div class="text-center">
    <h1 class="display-4">Soy  Luis Carlos Villan  </h1>
    <h2>Un desarrollados full stack especializado en tecnologias en .NET, C# y Javascript. </h2>
    <img class="m-5" src="~/images/Luis.jpg" id="foto" alt="Foto de Luis Carlos" />
</div>

<div></div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7    seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            He estado aprendiendo desarollo web por mas de un año, enfoncandome en tecnologias como
            c#, .NET core, MySql, Javascrip, Python.He participado en dos Hackatons realizadas en la ciudad de bucaramanga
            donde he liderado y desarrollado Backends completos como propuesta de solucion antes las problematicas presentadas,
            de lo cuales en uno de ellos permitia el registro de eventos y su respectiva  asistencia de  usuarios  para una
            especie de red social.En conclusion soy un apasionado por el desarrollo web y me encanta enfrentarme a nuevos retos
            para tomarlos como oportunidades para crecer.
        </p>
    </div>

</div>
