@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Proyectos";
}

<div class="container">
    <h1>Mis Proyectos</h1>
    <p>Aqui puedes ver algunos de mis trabajos recientes</p>
</div>

<partial name ="_ListadoProyectos"  name="Model"/>